.cards-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card{
        margin: 10px;
        background-color: lightgrey;
        width: 250px;
        height: 300px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    .card:first-child{
        margin-left: 0px;
    }
    .card:last-child{
        margin-right: 0px;
    }
    h3{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 30px;
    }
}