.main-s1-wrapper{
    background-color: #caeeff;
    .s1{
        width: 100%;
        max-width: 1200px;
        padding: 50px 0 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .s1-left{
            width: 460px;
            height: 526px;
            img{
                object-fit: cover;
                width: 100%;
                width: 100%;
            }
        }
        .s1-right{
            h1{
                color: rgba(5, 19, 84, 1);
                margin-bottom: 10px;
            }
        }
    }
}
.s2{
    width: 100%;
    max-width: 1200px;
    padding: 50px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        color: rgba(5, 19, 84, 1);
        margin-bottom: 35px;
    }
    .slider{
        max-width: 100%;
        overflow: hidden;
    }
}
